
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
font-family: Arial, Helvetica, sans-serif;
line-height: 1.4rem;
}

a {
  text-decoration: none;
}

p {
  margin: 0.75rem 0;
}

/*Utility classes*/
.text-primary {
  color:rgb(204, 0, 204);
}

.link {
  color: #ffffff;
  text-decoration: none;
}

.link2 {
  color: #444444;
  text-decoration: none;
}

.link:hover{
  background: rgb(204, 0, 204);
}
.link2:hover{
  background: rgb(204, 0, 204);
}
.l-heaing{
  font-size: 4rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.m-heaing{
  font-size: 2rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.py-1{padding: 1.5rem 0;}
.py-2{padding: 2rem 0;}
.py-3{padding: 3rem 0;}

.p-1{padding: 1.5rem;}
.p-2{padding: 2rem;}
.p-3{padding: 3rem;}


.bg-light {
  background: #f4f4f4 ;
  color: #333333;
}

.bg-dark {
  background: #333333;
  color: #ffffff;
}

.bg-primary{
  background:rgb(204, 0, 204) ;
  color: #ffffff;
}
.list{
  margin: 0.5rem 0;
  list-style: none;
}

.list li{
  padding: 0.5rem 0 ;
  border-bottom: #444444 dotted 1px;
}

.btn {
  display: inline-block;
  color: #ffffff;
  background:rgb(204, 0, 204);
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 5px;
}

.btn:hover{
  background: #333333;
}

.btn-dark {
  background: #333333;
  color: rgb(204, 0, 204);
}


.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.text-center{
  text-align: center;
}

/*Navbar*/

#navbar {
  display: flex;
  position: sticky;
  top:0;
  background: #333333;
  color: #ffffff;
  justify-content:space-between ;
  z-index: 1;
  padding: 1rem;

}

#navbar ul{
  display: flex;
  align-items: center;
  list-style: none;
}

#navbar ul li a{
  color: #ffffff;
  padding: 0.75rem;
  margin: 0 0.25rem;
}

#navbar ul li a:hover{
  background:rgb(204, 0, 204);
  border-radius: 5px;
}

/*Showcase*/

#showcase{
  background: #333333 url(../img/alysa-bajenaru-88IV5AtWjB8-unsplash.jpg) no-repeat
  center center/cover;
  height: 100vh;
  color: #ffffff;
}

#showcase .showcase-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 2rem;
  /*overlay*/
  position: absolute;
  top: 54px;
  left: 0;
  right: 0;
  bottom: o;
  background-color: rgba(0,0,0,0.4);
}

/*section what we do*/
#what .items{
  display: flex;
  padding: 1rem;
}

#what .item{
  flex: 1;
  text-align: center;
  padding: 1rem;
}

#what .items .item i{
  background:rgb(204, 0, 204) ;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 1rem  ;
}
/*section who am i*/
#who {
  display: flex;
}

#who div{
  flex: 1;
}

#who .who-img{
  background: url(../img/gamubw.png) no-repeat center center/cover;
}
/*Clients*/

#clients .items{
  display: flex;
}

#clients .items img {
  display: block;
  margin: auto;
  width: 75%;
}

/*Testimonials*/
#testimonials {
display: flex;
height: 100%;
background:url('../img/testimony.png') no-repeat 
center center/cover;
padding-top: 2rem;
background-color: rgba(0,0,0,0.4)
}
#testimonials .testimonial{
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
  
}

#testimonials h2 {
  color: #ffffff;
  text-align: center;
  padding-bottom: 40px;
}

#testimonials .testimonial img {
  width:75px ;
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

/* Section: Contact */
#contact {
  display: flex;
}

#contact .map, #contact .contact-form {
 flex: 1;
}

#contact .contact-form .form-group {
  margin: 0.75rem; 
}

#contact .contact-form label {
  display:block;
}

#contact .contact-form input,
#contact .contact-form textarea {
  width: 100%;
  padding: 0.5rem;
  
}
/*social media*/

.fa-facebook-f{
  background: rgb(204, 0, 204);
  color: #ffffff;
}
.fa-instagram{
  background: rgb(204, 0, 204);
  color: #ffffff;
}
.fa-envelope{
  background: rgb(204, 0, 204);
  color: #ffffff;
}

/*section portfolio*/
#portfolio .items{
  display: flex;
  padding: 1rem;
}

#portfolio .item{
  flex: 1;
  text-align: center;
  padding: 1rem;
}

/*section weddings*/
#weddings .items{
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  align-content: flex-start;
  flex-wrap: wrap;

}

.item{
    background: #f4f4f4;
    text-align: center;
    padding: 1rem;
    margin: 0.5rem;
    flex-basis: 200px;
  }

/*section commercial*/
#commercial .items{
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  align-content: flex-start;
  flex-wrap: wrap;

}

.item{
    background: #f4f4f4;
    text-align: center;
    padding: 1rem;
    margin: 0.5rem;
    flex-basis: 200px;
  }

  /*section weddings*/
#photoshoots .items{
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  align-content: flex-start;
  flex-wrap: wrap;

}

.item{
    background: #f4f4f4;
    text-align: center;
    padding: 1rem;
    margin: 0.5rem;
    flex-basis: 200px;
  }